.userDataHeader{
    /* float: left; */
    margin-left: 4%;
}

.addButton{
    float: right;
    margin-right: 7%;
    width: 120px;
    height: 35px;
    /* color: black; */
    border-radius:50rem !important;
    border:1px solid transparent;
    /* background: lawngreen; */
}
.userDataContainer{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}